---
- name: AAP Controller Configuration as Code (Modular)
  hosts: localhost
  connection: local
  gather_facts: false

  vars_files:
    - ../env/aap_target.yml
    - ../controller_config/organizations.yml
    - ../controller_config/teams.yml
    - ../controller_config/users.yml
    - ../controller_config/credentials.yml
    - ../controller_config/projects.yml
    - ../controller_config/inventories.yml
    - ../controller_config/inventory_hosts.yml
    - ../controller_config/inventory_groups.yml
    - ../controller_config/job_templates.yml
    - ../controller_config/workflow_job_templates.yml
    - vars/object_names.yml

  vars:
    api_base: "{{ aap_hostname | regex_replace('/+$', '') }}/api/controller/v2"

  tasks:
    - name: DEBUG - Check variable contents
      ansible.builtin.debug:
        msg:
          - "controller_organizations: {{ controller_organizations | length }}"
          - "controller_teams: {{ controller_teams | length }}"
          - "controller_users: {{ controller_users | length }}"
          - "controller_credentials: {{ controller_credentials | length }}"
          - "controller_projects: {{ controller_projects | length }}"
          - "controller_inventories: {{ controller_inventories | length }}"
      tags: debug

    - name: Create base objects (orgs, teams, users)
      ansible.builtin.include_tasks: tasks/01_base_objects.yml

    - name: Lookup required IDs
      ansible.builtin.include_tasks: tasks/02_lookup_ids.yml

    - name: Create dependent objects (creds, projects, inventories)
      ansible.builtin.include_tasks: tasks/03_create_dependent.yml

    - name: Create job templates & workflows
      ansible.builtin.include_tasks: tasks/04_job_templates.yml

    - name: Create inventory hosts & groups
      ansible.builtin.include_tasks: tasks/05_hosts_groups.yml

